.portaltype-service #portal-column-one,
.portaltype-topic #portal-column-one,
.portaltype-section #portal-column-one {
  min-width: 370px;
  width: 39%;
}

.portaltype-service #portal-column-content,
.portaltype-topic #portal-column-content,
.portaltype-section #portal-column-content {
  width: 59%;
  margin-left: -59%;
}

.portletNavigationTree {
  position: relative;
}

.portletNavigationTree ul {
  float: left;
}

.portletNavigationTree .navTreeLevel0 {
  width: 180px;
}

.portaltype-section .portletNavigationTree .navTreeLevel0 {
  float: none;
}

.portletNavigationTree .navTreeLevel1 {
  width: 190px;
}